:root {

    --bg-color: #c14040;
    --card-color: #982c2c;
    --text-color: #efe3e3;

    --plante:#77cc55;
    --poison:#aa5599;
    --acier:#aaaabb;
    --combat:#bb5544;
    --dragon:#7766ee;
    --eau:#3399ff;
    --electrik:#ffbb33;
    --feu:#ff4422;
    --glace:#77ddff;
    --insecte:#aabb22;
    --normal:#bbaabb;
    --psy:#ff5599;
    --roche:#bbaa66;
    --sol:#ddbb55;
    --spectre:#6666bb;
    --ténèbres:#665544;
    --vol:#6699ff;
   
}

/* ----------FONT------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


body {

    font-family: 'Bree Serif', serif;
    background-color: var(--bg-color);
    list-style: none;
    }

body a:link {

    text-decoration: none;
    color: var(--text-color)

}
.flex-nav a:visited {

color: var(--bg-color);

}

.flex-nav a:hover {

    color:var(--card-color);
}



body a:visited {

    color: var(--text-color)

}

body a:hover {

    
    color:var(--bg-color);
}

footer a:hover {

    color:var(--card-color)
}


/* HEADER */


.pokedex {
   
    
    color: var(--bg-color);
    font-size: 1.6em;
}

.header {
    display:flex;
    box-sizing: border-box;
    padding : 1em;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto;
    width: 90%;
    height: 10vh;
    background-color: var(--text-color);
    

}
.flex-nav {


    display: flex;
    color: var(--bg-color);
    
}

.li-nav {

    
    margin-right:1em;
    list-style: none;
    
}

.header li {

    
    /* margin: .3em; */
    font-size: 1.6em;
    list-style: none;
}


/* HOME */


.card_pokemon {

    background-color: #982c2c;
    width: 26%;
    border-radius:20px;
    text-align: center;
    margin-left: 5%;
    margin-top: 1em;

}

.poke_list {

    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.card_pokemon > p {

    text-align: center;
    color: var(--text-color);
    font-size: 1.5em;
    box-sizing: border-box;
    padding-bottom: .5em;

}


/* POKE PAGE */


.container {

margin: auto;
width: 90%;
text-align: center;

}

.container img {

    width:500px;
    height: 500px;
}

#titre_page {

color:var(--text-color);
font-size: 3em;
}

.blocs_centraux {

    display: flex;
    justify-content: space-between;
    margin:auto;
    

}

.type_box {

    display:flex;
    

}



.type_card {
    font-size: 1.4em;
    margin-left:2em;
    background-color: var(--plante);
    border-radius: 3px;
    padding: .4em;
}
.statistiques {

    width:60%;
    border-radius: 20px;
    background-color:var(--card-color);
    height: 60vh;
    color: var(--text-color);
    list-style: none;
    text-align: left;
}

.statistiques h3 {

    font-size: 2.3em;
    margin: 1.3em 0em 0em 1em;


}

.statistiques h4 {

    margin-left: 1em;
    margin-bottom:0;
    font-size: 2rem;
} 

.points_specs {

    display: flex;
    text-align: left;
    font-size: 1.5em;
    box-sizing: border-box;    
}

.points_specs li {

    
    margin: 0.4em 0;
    list-style: none;
}

/* PAGE ---- LISTE */

.page-liste-titre {

    width:90%;
    text-align: left;
    margin: auto;
    margin-top: 2em;
    font-size: 1.25rem;
    color: var(--text-color);
}

.type_nom {

    color: var(--text-color);
    border-radius: 3px;
    width: 24%;
    height: 7vh;
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    margin-right: .7em;
    margin-bottom: .7em;
   
    

}

.type_category {

    display:flex;
    flex-wrap:wrap;
    width: 90%;
    margin: auto;
    margin-top: 3em;
    font-size: 1.25rem;
}




/* FOOTER */

.retour {
    width: 90%;
    text-align: center;
    color: var(--text-color);
    font-size: 1.5em;
    margin-top:4em;
}

/* 
CLASS COLOR */
.Plante {

    background-color:var(--plante);
}

.Poison {

    background-color:var(--poison);
}

.Acier {

    background-color:var(--acier);
}

.Combat {

    background-color:var(--combat);
}

.Dragon {

    background-color:var(--dragon);
}
.Eau {

    background-color:var(--eau);
}
.Électrik{

    background-color:var(--electrik);
}
.Feu {

    background-color:var(--feu);
}
.Glace {

    background-color:var(--glace);
}
.Insecte {

    background-color:var(--insecte);
}

.Normal {

    background-color:var(--normal);
}
       
.Psy {

    background-color:var(--psy);
}

.Roche {

    background-color:var(--roche);
}

.Sol{

    background-color:var(--sol);
}
.Spectre {

    background-color:var(--spectre);
}
.Ténèbres {

    background-color:var(--ténèbres);
}

.Vol {

    background-color:var(--vol);
}
 
    
   